<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <style>
            .right {
                text-align: right;
            }
            form {
                position: absolute;
                bottom: 100px;
            }
        </style>
    </head>
    <body>
        <ul id="chat"></ul>
        <form id="frm">
            <input type="text" name="message" />
            <button type="submit">전송</button>
        </form>
        <script type="text/javascript">
            const socket = io.connect("http://127.0.0.1:3000", {
                path: "/socket.io",
                transports: ["websocket"],
            })
            const chat = document.querySelector("#chat")

            socket.on("reply", (data) => {
                const json = JSON.parse(data)
                const li = document.createElement("li")
                li.innerHTML = json.data + " " + json.userid
                chat.append(li)
            })

            const frm = document.querySelector("#frm")
            frm.addEventListener("submit", (e) => {
                e.preventDefault()
                const { message } = e.target

                socket.emit("data", message.value)
                const li = document.createElement("li")
                li.classList.add("right")
                li.innerHTML = message.value
                chat.append(li)

                e.target.reset()
                message.focus()
            })
        </script>
    </body>
</html>
